fastapi
uvicorn
tiktoken
pydantic
pytest
pytest-asyncio
httpx
python-dotenv
sse-starlette
langchain
langserve
langsmith
langchain-community
langchain-classic
langchain-text-splitters
langchain-openai
langchain-groq
langchain-google-genai
openai
faiss-cpu
PyPDF2